<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>The Woo-Who Project</title>
    <meta name="description" content="The Woo-Who Project : A project made by The Ponderings. Submitted as a final assignment for PBK course.">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'css/colorful.css' %}" type="text/css" %>
    <!-- Script: Navbar on-top -->
    <script src="{% static 'js/navbar-ontop.js' %}"></script>
    <!--<script src="js/navbar-ontop.js"></script>-->
</head>

<body>
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <b class="text-primary">Woo-Who Project</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar3SupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item mx-2 mb-2 my-md-0">
                    <a class="nav-link" href="{% url 'core:forum' %}">Forum</a>
                </li>
                <li class="nav-item mx-2 mb-2 my-md-0">
                    <a class="btn btn-outline-primary" href="{% url 'core:profile' %}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5 text-center cover d-flex flex-column bg-light">
    <div class="container my-auto">
        <div class="row">
            <div class="mx-auto col-lg-6 col-md-12 col-xl-12"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card my-3" style="border-radius: 8px">
                    <div class="card-header bg-white text-dark" style="border-radius: 8px 8px 0px 0px"> Your End Goal
                    </div>
                    <div class="card-body">
                        <p>Expressing myself without fearing criticism.</p>
                        <a href="#" class="btn btn-outline-primary">Edit Goal</a>
                    </div>
                </div>
                <div class="card my-3" style="border-radius: 8px">
                    <div class="card-header bg-white text-dark" style="border-radius: 8px 8px 0px 0px">Your Coach</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="card-img rounded-circle" src="static/assets/team/yellow.jpg"
                                     alt="Card image">
                            </div>
                            <div class="col-md-6 px-1">
                                <p>Brandon</p>
                                <a href="#" class="btn btn-outline-primary">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card my-3" style="border-radius: 8px">
                    <div class="card-header bg-primary text-white text-left" style="border-radius: 8px 8px 0px 0px">
                        Next Activity
                    </div>
                    <div class="card-body">
                        <h6 class="text-muted text-left">Week 1</h6>
                        <h4 class="text-left">Measuring Progress</h4>
                        <p class="text-left">In this activity, we will build on your self-confidence in crowds!</p>
                        <a href="{% url 'core:text' %}" class="btn btn-outline-primary">Start your Activity</a>
                    </div>
                </div>
                <div class="card my-3" style="border-radius: 8px;">
                    <div class="card-header bg-white text-dark text-left" style="border-radius: 8px 8px 0px 0px">
                        Overview
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" style="border-radius:8px;">
                                <a href="" class="active nav-link" data-toggle="tab" data-target="#tabone">Week 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="" data-toggle="tab" data-target="#tabtwo">Week 2</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link" data-toggle="tab" data-target="#tabthree">Week 3</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-2">
                            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                                <h4 class="text-left py-2">
                                    <strong>Learn More About Social Anxiety</strong>
                                </h4>
                                <p class="text-left">
                                    <span class="fa fa-unlock fa-fw"></span>Measuring Progress</p>
                                <p class="text-left text-muted">
                                    <span class="fa fa-lock fa-fw"></span>Measuring Progress</p>
                                <p class="text-left text-muted">
                                    <span class="fa fa-lock fa-fw"></span>What is Social Anxiety</p>
                                <p class="text-left text-muted">
                                    <span class="fa fa-lock fa-fw"></span>A Quick Tool</p>
                                <p class="text-left text-muted">
                                    <span class="fa fa-lock fa-fw"></span>The 3 Parts of Social Anxiety</p>
                                <p class="text-left text-muted">
                                    <span class="fa fa-lock fa-fw"></span>Spiral of Social Anxiety</p>
                            </div>
                            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                                <p class="">Tab pane two. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="tab-pane fade" id="tabthree" role="tabpanel">
                                <p class="">Tab pane three. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-header bg-white text-left"> Challenges</div>
                    <div class="card-body">
                        <h4 class="text-left">
                            <strong>Weekly Challenges</strong>
                        </h4>
                        <p class="text-left">1. Lorem ipsum dolor sit amet</p>
                        <p class="text-left">2. Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-white" id="where">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-muted">© Copyright 2018 The Woo-Who Project - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="js/smooth-scroll.js"></script>
</body>

</html>