<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>The Woo-Who Project</title>
    <meta name="description" content="The Woo-Who Project : A project made by The Ponderings. Submitted as a final assignment for PBK course.">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'css/colorful.css' %}" type="text/css" %>
    <!-- Script: Navbar on-top -->
    <script src="{% static 'js/navbar-ontop.js' %}"></script>
    <!--<script src="js/navbar-ontop.js"></script>-->
</head>

<body>
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <b class="text-primary">Woo-Who Project</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar3SupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#introduction">About Us</a>
                </li>
                <li class="nav-item mx-2 mb-2 my-md-0">
                    <a class="nav-link" href="#experts">Our Experts</a>
                </li>
                <li class="nav-item mx-2 mb-2 my-md-0">
                    <a class="nav-link" href="{% url 'core:quiz' %}">Start the Journey</a>
                </li>
                <li class="nav-item mx-2 mb-2 my-md-0">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">
                        <strong>Log in</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5 text-center cover d-flex flex-column bg-secondary" id="home">
    <div class="container my-auto">
        <div class="row">
            <div class="mx-auto col-lg-6 col-md-12 col-xl-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 px-5 py-3">
                <i class="d-block mx-auto py-3 fa fa-5x fa-users" style="color:#ffffff;"></i>
                <h3 class="display-4 text-white">
                    <strong>Overcome your social anxiety</strong>
                </h3>
                <p class="text-white">Getting better starts with a step.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn px-4 py-2 btn-outline-light" style="border-radius: 8px">
                    <strong>Schedule a Session</strong>
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-auto">
        <div class="row">
            <div class="mx-auto col-lg-6 col-md-8 col-10">
                <a href="#mission">
                    <i class="d-block fa fa-angle-down fa-2x" style="color: #ffffff"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="py-5 filter cover bg-fixed" style="background-position: center bottom; background-size: cover;"
     id="introduction">
    <div class="container my-auto">
        <div class="row">
            <div class="col-md-6 p-3">
                <h2 class="mb-4 text-dark">
                    <strong>Who Are We?</strong>
                </h2>
                <p class="text-dark lead">
                    <i>A group of students who understand&nbsp;
                        <br>what it's like to be nervous,&nbsp;
                        <br>and anxious in social contexts.</i>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-3"></div>
            <div class="col-md-6 p-3">
                <h2 class="mb-4 text-dark">
                    <strong>What Do We Do?</strong>
                </h2>
                <p class="lead">
                    <i>We realize how difficult and expensive&nbsp;
                        <br>it is to get professional help.&nbsp;
                        <br> Hopefully The Woo-Who Project&nbsp;will
                        <br>help alleviate your anxiety.</i>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-center bg-light" id="experts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark">Our Leading Experts</h1>
                <p class="lead text-dark">We grow together with the community.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-4">
                <img class="img-fluid d-block rounded-circle mx-auto"
                     src="https://pingendo.github.io/templates/sections/assets/test_meow.jpg">
                <p class="py-4">
                    <b>Meow</b>
                    <br>Senior developer</p>
            </div>
            <div class="col-md-4 p-4">
                <img class="img-fluid d-block rounded-circle mx-auto"
                     src="https://pingendo.github.io/templates/sections/assets/test_fish.jpg">
                <p class="py-4">
                    <b>J. L. Fish</b>
                    <br>UI designer</p>
            </div>
            <div class="col-md-4 p-4">
                <img class="img-fluid d-block rounded-circle mx-auto"
                     src="https://pingendo.github.io/templates/sections/assets/test_carlito.jpg">
                <p class="py-4">
                    <b>Carlito</b>
                    <br>Boss</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-white opaque-overlay bg-primary" id="info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-gray-dark text-center text-white">Need more info?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 bg-white p-4">
                <p class="lead mb-4 text-dark text-center">Fill in your information and we'll contact you shortly!</p>
                <form class="" method="post" action="https://formspree.io/">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Enter email"></div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password"></div>
                    <button type="submit" class="btn btn-outline-primary style=">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-white" id="where">
    <div class="container">
        <div class="row">
            <div class="p-5 col-md-6">
                <h3 class="text-dark">
                    <b>The Woo-Who Project</b>
                </h3>
                <p class="">
                    <a href="/" target="_blank">Quai Gustave-Ador 35
                        <br>1207 - Geneve (CH)</a>
                </p>
                <p class="">
                    <a href="#">hello@smke.io</a>
                </p>
                <p class="mb-3">
                    <a href="#">+41 798 65 61 19&nbsp;</a>
                </p>
                <a href="#" target="_blank">
                    <i class="fa d-inline fa-lg mr-3 text-white fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-facebook d-inline fa-lg mr-3 text-white"></i>
                </a>
            </div>
            <div class="p-5 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-muted">© Copyright 2018 The Woo-Who Project - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form" method="POST" action="{% url 'core:dashboard' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="name@example.com"
                               id="exampleFormControlInput1" required="required">
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="required"></div>
                    <button type="submit" class="btn btn-outline-primary" style="border-radius: 8px">Log in</button>
                </form>
                <p class="text-muted">
                    <strong>Forgot your password?</strong>
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="js/smooth-scroll.js"></script>
</body>

</html>