<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>The Woo-Who Project</title>
    <meta name="description" content="The Woo-Who Project : A project made by The Ponderings. Submitted as a final assignment for PBK course.">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'css/colorful.css' %}" type="text/css" %>
    <!-- Script: Navbar on-top -->
    <script src="{% static 'js/navbar-ontop.js' %}"></script>
    <!--<script src="js/navbar-ontop.js"></script>-->
</head>

<body>
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="#">
            <b class="text-primary">Woo-Who Project</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar3SupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item mx-2 mb-2 my-md-0">
                    <a class="nav-link" href="{% url 'core:forum' %}">Forum</a>
                </li>
                <li class="nav-item mx-2 mb-2 my-md-0">
                    <a class="btn btn-outline-primary" href="{% url 'core:profile' %}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5 text-center cover d-flex flex-column bg-light">
    <div class="container my-auto">
        <div class="row">
            <div class="mx-auto col-lg-6 col-md-12 col-xl-12"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card my-3" style="border-radius: 8px">
                    <div class="card-header bg-white text-dark" style="border-radius: 8px 8px 0px 0px"> Profile
                        Picture
                    </div>
                    <div class="card-body">
                        <img class="card-img rounded-circle" src="static/assets/team/blue.jpg" alt="Card image">
                        <a href="#" class="btn btn-outline-primary my-3">Edit Profile Picture</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card my-3" style="border-radius: 8px">
                    <div class="card-header bg-primary text-white text-left" style="border-radius: 8px 8px 0px 0px">
                        Basics
                    </div>
                    <div class="card-body">
                        <form class="">
                            <div class="form-group">
                                <label class="text-left">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name"></div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name"></div>
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <input type="date" class="form-control"></div>
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Prefer not to say</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Save</button>
                        </form>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-header bg-white text-left" style="
	border-radius: 8px 8px 0px 0px"> Challenge Rewards
                    </div>
                    <div class="card-body">
                        <h4 class="text-left">
                            <strong>Rewards Tally</strong>
                        </h4>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="https://png.icons8.com/color/100/000000/medal.png"></div>
                            <div class="col-md-9">
                                <h2 class="text-left d-flex justify-content-start">5 medals.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-white" id="where">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-muted">© Copyright 2018 The Woo-Who Project - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="js/smooth-scroll.js"></script>
</body>

</html>