<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>The Woo-Who Project</title>
    <meta name="description" content="The Woo-Who Project : A project made by The Ponderings. Submitted as a final assignment for PBK course.">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'css/colorful.css' %}" type="text/css" %>
    <!-- Script: Navbar on-top -->
    <script src="{% static 'js/navbar-ontop.js' %}"></script>
    <!--<script src="js/navbar-ontop.js"></script>-->
</head>

<body>
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <b class="text-primary">Woo-Who Project</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar3SupportedContent"></div>
    </div>
</nav>
<div class="py-5 text-center cover d-flex flex-column bg-light">
    <div class="container my-auto">
        <div class="row">
            <div class="mx-auto col-lg-6 col-md-12 col-xl-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary text-white" style="border-radius: 8px 8px 0px 0px"> Getting to
                        Know Social Anxiety
                    </div>
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/f1ToG6AOi6o?autoplay=0"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <h4 class="text-center">3 Words That Help Social Anxiety</h4>
                        <p class="text-center">Being in social situations can spark our anxiety, to put it lightly.
                            The symptoms we can feel around people can be so debilitating and make us feel so closed
                            in, alone, claustrophobic and extremely uncomfortable. Here are some tips that can help
                            you to be more at ease during social situations.</p>
                        <a href="{% url 'core:dashboard' %}" class="btn btn-outline-primary">Finish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="js/smooth-scroll.js"></script>
</body>

</html>